### Question No :- 01

Database :- A database is a structured collection of data that is organized and stored in a way that allows for efficient               retrieval, management, and manipulation of data. Databases are essential in the world of information                       technology, used for various purposes, including storing and managing large amounts of structured and                       unstructured data, supporting applications, and enabling data analysis.

SQL Databases:- 
    
Structured Data:- SQL databases are designed for structured data with well-defined schemas. They use tables to store data, and the schema defines the structure and relationships between data.

ACID Compliance:- SQL databases adhere to ACID (Atomicity, Consistency, Isolation, Durability) properties, which ensure that database transactions are reliable, and data remains consistent even in the face of failures.

Relational Model:- SQL databases use a relational model, where data is organized into tables with rows and columns. Relationships between tables are maintained through foreign keys.

Query Language:- SQL databases use SQL as the query language for performing operations like INSERT, UPDATE, DELETE, and SELECT. SQL provides powerful querying capabilities and allows for complex data manipulation.

Examples:- MySQL, PostgreSQL, Oracle, Microsoft SQL Server are some examples of SQL databases.

NoSQL Databases:-

Unstructured or Semi-structured Data:- NoSQL databases are designed to handle unstructured or semi-structured data. They                                          are more flexible and can store data in various formats, such as JSON, XML, or key-                                        value pairs.

BASE Properties:- NoSQL databases often follow the BASE (Basically Available, Soft state, Eventually consistent) model,                       which prioritizes availability and performance over strict consistency.

Various Data Models:- NoSQL databases come in various models, including document stores, key-value stores, column-family                         stores, and graph databases. The choice of model depends on the specific use case.

Schema-less:- NoSQL databases are schema-less, meaning they allow for changes in data structure without requiring                         predefined schemas. This flexibility can be advantageous in rapidly changing environments.

Examples:- MongoDB (a document store), Cassandra (a column-family store), Redis (a key-value store), and Neo4j (a graph                database) are examples of NoSQL databases.

### Question No:- 02

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. DDL statements are used to create, modify, and delete database objects, such as tables, indexes, and constraints. They do not deal with the manipulation of data within the database; that's the role of DML (Data Manipulation Language) statements like SELECT, INSERT, UPDATE, and DELETE.

CREATE:

1) The CREATE statement is used to create new database objects, such as tables, indexes, or views.

   Example: Creating a new table called "Employees" with columns for employee ID, name, and department:

In [4]:
CREATE DATABASE test; #these help to create the database

CREATE TABLE test_table(c1 INT, c2 FLOAT, c3 VARCHAR(50)); # these help to create the table

SyntaxError: invalid syntax (1113052467.py, line 1)

#### DROP:

The DROP command is used to delete existing database objects like tables, views, indexes, etc. It removes the entire structure and data associated with the object.

In [5]:
#Example

DROP TABLE test_table;

SyntaxError: invalid syntax (1647171473.py, line 3)

#### ALTER:

The ALTER command is used to modify the structure of an existing database object without dropping and recreating it entirely. It allows you to add, modify, or drop columns or constraints within a table.

In [6]:
# Example

ALTER TABLE test_table
ADE COLUME birthdate DATE;

SyntaxError: invalid syntax (1106445750.py, line 3)

#### TRUNCATE:

The TRUNCATE command is used to remove all records from a table, but it retains the table structure. It is faster than the DELETE command, as it doesn't log individual row deletions and generally performs better on large tables.

In [7]:
#for Example

TRUNCATE test_table;

SyntaxError: invalid syntax (988757020.py, line 3)

### Question No :- 03

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. DML commands are primarily used to insert, update, retrieve, and delete data within tables.

#### NSERT:-

The INSERT command is used to add new records or rows into a table. It allows you to specify the values for each column or a subset of columns for the new row.

In [ ]:
#Example
INSERT INTO users (user_id, username, email)
VALUES (1, 'john_doe', 'john@example.com');

#### UPDATE :-

The UPDATE command is used to modify existing records within a table. It allows you to change the values of specific columns in one or more rows based on certain conditions.

In [ ]:
# example

UPDATE users
SET email = 'john_doe@example.com'
WHERE user_id = 1;

#### DELET :-

The DELETE command is used to remove one or more records from a table based on specified conditions. It removes entire rows that match the specified criteria.

In [ ]:
# Example

DELETE FROM users
WHERE user_id = 1;

### Question No :- 04

DQL stands for Data Query Language, and it refers to the subset of SQL (Structured Query Language) used to retrieve or fetch data from a database. The primary command used in DQL is the SELECT statement.

In [ ]:
# Example
SELECT column1, column2, ...
FROM table_name
WHERE condition;

### Question No :- 05

Primary Key and Foreign Key are two concepts in relational databases that establish relationships between tables and ensure data integrity.

#### Primary Key :-

* Primary Key is a column or a set of columns in a table that uniquely identifies each row or record in that table.

* It must contain unique values and cannot have NULL values.

* A table can have only one Primary Key.

* Primary Keys are used to ensure data integrity, enforce entity integrity, and establish relationships between tables.
  Typically, Primary Keys are used to link with Foreign Keys in other tables.

In [ ]:
# Example
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT
);

#### Foreign Key :-

* A Foreign Key is a column or a set of columns in a table that establishes a link between data in two tables.

* It creates a relationship between the Foreign Key column(s) in one table and the Primary Key column(s) in another table.

* Foreign Keys ensure referential integrity, meaning that the values in the Foreign Key column(s) must match the values in   the associated Primary Key column(s) in another table or be NULL.

* They help maintain consistency and enforce relationships between related tables.

In [ ]:
# Example

CREATE TABLE grades (
    grade_id INT PRIMARY KEY,
    student_id INT,
    grade VARCHAR(2),
    FOREIGN KEY (student_id) REFERENCES students(student_id)
);

### Question No :- 06

In [ ]:
import mysql.connector


try:
    conn = mysql.connector.connect(
        host="your_host",
        user="your_username",
        password="your_password",
        database="your_database"
    )
    print("Connected to MySQL!")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    exit(1)


cursor = conn.cursor()


sql_query = "SELECT * FROM your_table"


try:
    cursor.execute(sql_query)
    print("Query executed successfully!")

   
    rows = cursor.fetchall()

    
    for row in rows:
        print(row)

except mysql.connector.Error as err:
    print(f"Error executing query: {err}")


cursor.close()
conn.close()

cursor() method:- This method creates a cursor object that allows Python to interact with the MySQL database. The cursor is                   used to execute SQL queries and fetch results.

execute() method:- The execute() method of the cursor object is used to execute SQL queries passed as strings. It takes the                    SQL query as a parameter and executes it within the MySQL database.

### Question No :- 07

In SQL, when constructing a query, the order of execution of SQL clauses is generally as follows:

SELECT: This clause specifies the columns you want to retrieve data from. It's typically the first clause to be evaluated in a query.


FROM: The FROM clause indicates the tables from which the data will be retrieved. It follows the SELECT clause and specifies the source tables involved in the query.


WHERE:- The WHERE clause is used to filter rows based on specific conditions. It follows the FROM clause and limits the             rows returned by applying conditions to the data.


GROUP BY:- The GROUP BY clause is used to group rows that have the same values in specified columns. It follows the WHERE              clause and precedes the HAVING clause.


HAVING:- The HAVING clause filters groups based on specific conditions defined after a GROUP BY clause. It is used to apply          conditions to grouped rows.


ORDER BY:- The ORDER BY clause is used to sort the result set by specified columns either in ascending or descending order.            It comes after the WHERE, GROUP BY, and HAVING clauses.


LIMIT/OFFSET (Optional):- These clauses are used for controlling the number of rows returned and for pagination. They appear at the end of the query and can limit the number of rows retrieved or specify the starting point for rows to be returned.